tqdm

# notebooks
ipython
ipykernel
ipywidgets

# computation
numpy
pandas
pyarrow  # parquet engine

# models
torch
torchaudio
torchvision
torchcodec
transformers

datasets

# flask api
flask
flask_injector
flask_cors
flask_restful
flask_httpauth
cattrs
werkzeug
attrs
injector
python-dateutil
